.receita__botao {
    background: #8d0606;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    cursor: pointer;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: #620404;
}